* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.todo {
    width: 600px;
    height: auto;
    background-color: #eaeaea;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.todo:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.todo-btn-controls{
    float: right;

    & .delete-todo{
        font-size: 27px;
        margin-top: -25px;
        display: none;
        color: rgba(0,0,0,0.6);
        cursor: pointer;
    }

    & .edit-todo{
        font-size: 20px;
        margin-top: -25px;
        color: darkgray;
        cursor: pointer;
    }

}
.todo:hover .delete-todo {
    display: inline;
}

.todo:hover .edit-todo {
    color: rgba(0,0,0,0.6);
}

.todo-editor {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.input {
    width: 500px;
    resize: none;
    margin: 5px;
    font-size: 14px;
    border: none;
    font-weight: 300;
    border-bottom: 1px solid darkgray;
    padding-bottom: 4px;
}

.input:focus {
    outline: 0;
}

.inputTitle:focus {
    outline: 0;
}

.inputTitle{
    width: 500px;
    resize: none;
    margin: 5px;
    font-size: 14px;
    border: none;
    font-weight: 300;
    border-bottom: 1px solid darkgray;
    padding-bottom: 4px;
}
button{
    outline: none;
}
.add-button, .save-button, .cancel-button, .confirm-button{
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 100px;
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:8px 8px;
    text-transform: uppercase;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.cancel-button{
    display: none;
    background-color: lightcoral;
    border:1px solid crimson;
    margin-left: 5px;
}
.cancel-button:hover{
    background-color: crimson;
}
.save-button{
    display: none;
}
.add-button:hover, .save-button:hover{
    background-color:#5cbf2a;
}

.add-button:active {
    position:relative;
    top:1px;
}

.add-button:focus {
    outline: 0;
}
.todo-list::-webkit-scrollbar{
    width: 0;
}
.todo-list {
    margin-left: 140px;
    overflow-y: auto;
    -ms-owerflow-style: none;
    height: 360px;
}

.todo-app {
    max-width: 960px;
    width: 100%;
}

.app-header {
    text-align: center;
    font-weight: 500;
    color: grey;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}
ul{
   list-style: none;
}
input.todo-check:checked + .todo-title{
    color: darkgray;
    text-decoration-line: line-through;
}
input.todo-check:checked + .todo-description{
    color: darkgray;
}
input.todo-check:checked + .todo-finish-date{
    color: black;
}
a{
    text-decoration: none;
}
.nav{
    width: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    & .nav-list li{
        float: left;
        cursor: pointer;
    }
    a.nav-elem{
         margin: 5px;
         color: darkgray;
    }
    a.nav-elem:focus{
        font: bold normal 100% sans-serif;
        color: black;
    }
}

.todo-title{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
}
span.todo-title::first-letter{
    font-size: 32px;
}
.todo-description{
    font-size: 14px;
}
.todo-date{
    margin: 20px 5px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todo-deadLine-date{
    color: lightcoral;
    font-size: 13px;
}
.todo-finish-date{
    float: right;
    font-size: 13px;
    color:gray;
}

.editor-control{
    display: flex;
    flex-direction: row;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.alert-wrap{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: inherit;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}
#alert-title-uncorrect{
    position: absolute;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    top: 35%;
    left: 40%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    & .warning-mess{
        color: lightcoral;
        font-weight: 700;
        text-shadow: 1px 1px 1px black;
    }

    h4{
        padding: 0 10px 0 10px;
    }

    & .close-alert{
        float: right;
        align-self: flex-end;
        margin-right: 7px;
        cursor: pointer;
        font-size: 27px;
        color: rgba(0,0,0,0.6);
    }

    & .confirm-button{
        margin-right: 7px;
    }
}

.dead-line-date{
    color: grey;
    font-size: 14px;
    span{
        margin-left: 7px;
    }
    input{
        border: none;
        border-bottom: 1px solid darkgray;
        width: 25px;
        margin: 5px;
        outline: none;
        text-align: center;
    }
    input.d-l-date-year{
        width: 35px;
    }
}
input[type='date']{
    width: 140px;
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
}